WCFProyecto/ClinicaUnitTest/Service References/MedicosWS/Medico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28788/Medico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMedico.Dominio" />
  <xs:element name="CrearMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMedico.Dominio" minOccurs="0" name="medicoCrear" nillable="true" type="q1:Medicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMedico.Dominio" minOccurs="0" name="CrearMedicoResult" nillable="true" type="q2:Medicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMedico.Dominio" minOccurs="0" name="ObtenerMedicoResult" nillable="true" type="q3:Medicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfMedico.Dominio" minOccurs="0" name="medicoModificar" nillable="true" type="q4:Medicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfMedico.Dominio" minOccurs="0" name="ModificarMedicoResult" nillable="true" type="q5:Medicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMedicoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfMedico.Dominio" minOccurs="0" name="ListarMedicosResult" nillable="true" type="q6:ArrayOfMedicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>