WCFProyecto/ClinicaUnitTest/Service References/MedicosWS/Medico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Medico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:28788/Medico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:28788/Medico.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfMedico.Errores" />
      <xsd:import schemaLocation="http://localhost:28788/Medico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:28788/Medico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMedico.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMedico_CrearMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearMedico" />
  </wsdl:message>
  <wsdl:message name="IMedico_CrearMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedico_CrearMedico_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMedico.Errores" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IMedico_ObtenerMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMedico" />
  </wsdl:message>
  <wsdl:message name="IMedico_ObtenerMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedico_ModificarMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarMedico" />
  </wsdl:message>
  <wsdl:message name="IMedico_ModificarMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedico_EliminarMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMedico" />
  </wsdl:message>
  <wsdl:message name="IMedico_EliminarMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedico_ListarMedicos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMedicos" />
  </wsdl:message>
  <wsdl:message name="IMedico_ListarMedicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMedicosResponse" />
  </wsdl:message>
  <wsdl:portType name="IMedico">
    <wsdl:operation name="CrearMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedico/CrearMedico" message="tns:IMedico_CrearMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedico/CrearMedicoResponse" message="tns:IMedico_CrearMedico_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMedico/CrearMedicoRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IMedico_CrearMedico_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedico/ObtenerMedico" message="tns:IMedico_ObtenerMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedico/ObtenerMedicoResponse" message="tns:IMedico_ObtenerMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedico/ModificarMedico" message="tns:IMedico_ModificarMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedico/ModificarMedicoResponse" message="tns:IMedico_ModificarMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedico/EliminarMedico" message="tns:IMedico_EliminarMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedico/EliminarMedicoResponse" message="tns:IMedico_EliminarMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMedicos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedico/ListarMedicos" message="tns:IMedico_ListarMedicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedico/ListarMedicosResponse" message="tns:IMedico_ListarMedicos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMedico" type="tns:IMedico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearMedico">
      <soap:operation soapAction="http://tempuri.org/IMedico/CrearMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMedico">
      <soap:operation soapAction="http://tempuri.org/IMedico/ObtenerMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarMedico">
      <soap:operation soapAction="http://tempuri.org/IMedico/ModificarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMedico">
      <soap:operation soapAction="http://tempuri.org/IMedico/EliminarMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMedicos">
      <soap:operation soapAction="http://tempuri.org/IMedico/ListarMedicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Medico">
    <wsdl:port name="BasicHttpBinding_IMedico" binding="tns:BasicHttpBinding_IMedico">
      <soap:address location="http://localhost:28788/Medico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>